<div class="featured-head d-flex flex-column flex-lg-row justify-content-beetween align-items-lg-center">
    <div class="featured-head__img aos-init">
        <img src="{{img}}" alt="images page">
    </div>
    <div class="featured-head__desc aos-init">
        <p><b>{{date}}</b></p>
        <h2><b>{{title}}</b></h2>
        <p class="summary">{{desc}}</p>
        {{#if link}}
        <a href="{{href}}" class="btn--link">{{link}}</a>
        {{/if}}
    </div>
</div>