<div class="post-tile">
    <div class="post-tile__img bg-center" style="background-image: url('{{image}}')"></div>
    <div class="post-tile__description d-flex flex-column">
        <span>{{date}}</span>
        <h4>{{title}}</h4>
        <p>{{text}}</p>
        <a href="{{link}}" class="btn--link--secondary mt-auto">Learn more</a>
    </div>
</div>